*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #D6D6D6;
    font-family: sans-serif;
    margin: 2em 1em;
    line-height: 1.3;
}

form {
    max-width: 30em;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 2em 3em;
    border-radius: 1em;
}

p:first-child {
    margin-top: 0;
}

input,
button {
    font-size: 1em;
    font-family: inherit;
    height: 2em;
    padding: 0 0.5em;
    border-radius: 0.25em;
    border: 0.0625em solid #888888;
}

button {
    background-color: #3000dd;
    color: #FFFFFF;
    border-color: transparent;
    width: 7rem;
    max-width: 100%;
    margin-top: 0.5rem;
    cursor: pointer;
}

input {
    width: 17em;
    max-width: 100%;
}

#prihlaseni {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    cursor: pointer;
}

.paragraph {
    display: none;
}

.paragraph--display {
    display: block;
    color: red;
    font-weight: 500;
}